

html {
    background: #171717;
}
.main {
    margin: 0 auto;

}
textarea {
    resize: none;
}

header.mdl-layout__header {
    background-color: #131313;
}
header img, .mdl-layout__drawer  img {
    width: 150px;
}
div.mdl-layout__drawer {
    background-color: #171717;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding-left: 25px;
    color: white;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: #131313;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link i {
    margin: 0 25px 0 0;
}
.mdl-layout__drawer {
    border-right-color: #6b6a6a;
}
hr.style1{
    border-top: 1px solid #8c8b8b;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.mdl-layout__drawer .mdl-layout-title {
    text-align: center;
}
/*====================================
                GRID
=====================================*/

.mdl-grid {
    align-items: baseline;
}
/*
.mdl-layout.is-small-screen .mdl-layout--large-screen-only{
    display: none!important;
}
*/

/*=====================================
                CARDS
======================================*/
 .demo-card-wide.mdl-card {
     width: 100%;
     text-align: left;
 }
.mdl-card__supporting-text > h2 {
    display: inline-block;
    color: white;
    font-size: 18px;
}
.demo-card-wide > .mdl-card__title {
    padding: 0;
    color: #fff;
    background-repeat: no-repeat;
    background-size: 100%;
}
.demo-card-wide > .mdl-card__title > a {
    width: 100%;
}
.demo-card-wide > .mdl-card__title > a > img {
    width: 100%;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
.mdl-card {

    background: #171717; /* Old browsers */
    background: -moz-linear-gradient(top,  #171717 0%, #131313 0%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #171717 0%,#131313 0%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #171717 0%,#131313 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#171717', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}

/*================================
            SPINNER
=================================*/
#spinner.mdl-spinner--single-color > div{
    border-color: white;
}





.onceOutputSub .mdl-textfield{
    padding: 0;
}


.contentWrapper {
    overflow: hidden;
}
.contentWrapper .videoContent {
    float: left;
    width: 853px;
}
.contentWrapper .videoContent .playerWrapper {
    position: relative;
}
.contentWrapper .videoContent .playerWrapper .infoWrapper {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 150;
    overflow: hidden;
}
.contentWrapper .videoContent .playerWrapper .infoWrapper #info {
    display: inline-block;
    padding: 0 10px;
    max-width: 570px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.5);
    color: #FFF;
    font: 24px/28px sans-serif ;
    border-radius: 6px;
    /*word-break: break-all;*/
    word-wrap: break-word;
}
.contentWrapper .subContent {
    float: right;
    width: 350px;
    max-height: 580px;
    overflow-y: auto;
    text-align: left;
}
.contentWrapper .subContent .inputText {

}
.contentWrapper .subContent .inputText textarea {
    width: 80%;
    height: 60px;
    box-sizing: border-box;
}
.contentWrapper .subContent #addBtn {
    top:0;
    right: 22px;
    box-sizing: border-box;
}
.contentWrapper .subContent .mdl-textfield {
    width: 100%;
}

.contentWrapper .subContent .outputSub {
    text-align: center;

}
.contentWrapper .subContent .outputSub .onceOutputSub {
    margin:  0 0 7px 0;
}
.contentWrapper .subContent .outputSub .onceOutputSub textarea {
    min-height: 50px;
    width: 100%;
    padding: 9px 0 0 11px;
    box-sizing: border-box;
}
.contentWrapper .subContent .outputSub .onceOutputSub textarea:focus {
    background: #131313;
    outline: none;
}
.contentWrapper .subContent .outputSub .onceOutputSub input {
    vertical-align: top;
    height: 50px;
    /*box-sizing: content-box;*/
}
.contentWrapper .subContent .outputSub .onceOutputSub:first-child {
    display: none;
}
.contentWrapper .videoContent #timeZoneWrapper {
    position: relative;
    width: 853px;
    overflow-x: scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: hidden ;
    background-color: white;
    z-index: 10;
}
.contentWrper .videoContent #timeZoneWrapperap::-webkit-scrollbar-track-piece {
    color: red;
}
.contentWrapper .videoContent #timeZone {
    position: relative;
    /*width: 6400px;*/
    height: 100px;
    background: rgba(0,0,0,.1);
}
.contentWrapper .videoContent #timeZone #pointer {
    position: absolute;
    left:0;
    height: 100%;
    width: 2px;
    background: red;
    z-index: 100;
}
.contentWrapper .videoContent #timeZone #pointer .drupper {
    position: absolute;
    left: -9px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background: inherit;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;


}
.contentWrapper .videoContent #timeZone .sub {
    display: inline-block;
    position: absolute;
    bottom: 0;
    height: 60%;
    border: 1px solid #afabab;
    box-sizing: border-box;
    /*z-index: -1;*/
    overflow: hidden;

}
.contentWrapper .videoContent #timeZone .sub .innerSubResize {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 10px;
    background: #c3c3c3;;
    z-index: 10;

}

.contentWrapper .videoContent #timeZone .sub .innerSubResize:hover {
    cursor: e-resize;
}
.contentWrapper .videoContent #timeZone .sub .innerSubText {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 10px);
    box-sizing: border-box;
    background: #e9e7e7  ;
    overflow: hidden;
    font-family: sans-serif;

}
.contentWrapper .videoContent #timeZone .sub .innerSubText:hover {
    cursor: move ;
}
/*.newSub {
    height: 20px;
    width: 250px;
}*/



#canvas {
    position: absolute;
    left: 0;
    top:0;
    /* width: 100%;
     height: 100%;*/
}


::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}
::-webkit-scrollbar-button {

}
::-webkit-scrollbar-thumb {
    background: #373737;
}
::-webkit-scrollbar-thumb:hover {
    background: #242424;
}
::-webkit-scrollbar-track {
    background: #131313;
}
::-webkit-scrollbar-corner {
    background: transparent;
}


/*LOADER*/

.loaderWrapper {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: black;
    text-align: center;
    z-index: 101;
}
.loader{
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

#loader-4 span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #ffffff;
    margin: 35px 5px;
    opacity: 0;
}

#loader-4 span:nth-child(1){
    animation: opacitychange 1s ease-in-out infinite;
}

#loader-4 span:nth-child(2){
    animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#loader-4 span:nth-child(3){
    animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
    0%, 100%{
        opacity: 0;
    }

    60%{
        opacity: 1;
    }
}
