{# extends 'base2.html.twig' #}

{% block body %}

    <form action="/admin" method="post">
        <label for="login">login</label>
        <input type="text" id="login" name="login" value="admin">
        <label for="pass">pass</label>
        <input type="text" id="pass" name="pass" value="admin">
        <input type="submit" value="ok" name="submit">
    </form>
    <div></div>

{% endblock %}

{% block stylesheets %}
<style>



</style>
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}
