{#extends 'base2.html.twig'#}

{% block body %}
<div>kKKKKKKKKKKKKKKK</div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}
