{% extends 'base2.html.twig' %}

{% block body %}
    <div style="color: #FFF;">{{ id }}</div>
    <div class="main">
        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div class="contentWrapper">
            <div class="videoContent">
                <div class="playerWrapper">
                    <div id="player"></div>
                    <div class="infoWrapper">
                        <div id="info"></div>
                    </div>
                </div>

                <div id="timeZoneWrapper">
                    <div id="timeZone">
                        <div id="pointer">
                            <div class="drupper"></div>
                        </div>
                        <canvas id="canvas" height="100"></canvas>
                    </div>
                </div>


                <!--<div id="currentTimeDiv"></div>-->
            </div>
            <div class="subContent">
                <div class="inputText">
                    <textarea id="tempText" disabled placeholder="Введите текст субтитров и нажмите  Enter, для переноса строки нажмите Shift+Enter"></textarea>
                    <input type="button" value="+" id="addBtn">
                </div>
                <div class="outputSub">
                    <div class="onceOutputSub">

                        <textarea></textarea><input type="button" value="-">
                    </div>
                </div>
            </div>
        </div>
        <input type="button" value="Готово" id="btn">
        <!--<input type="button" value="Send Subtitles" id="btnAjax">-->
    </div>
{% if audio %}
    <audio controls id="audio" preload="metadata">
    </audio>
    <div id="progress_mp3"></div>
    <div id="progress_ogg"></div>
    <div class="bt_wrapper">
        <div class="tr_button">
            <input type="button" value="ORIGINAL" id="original_bt" disabled >
        </div>
        <div class="tr_button">
            <input type="button" value="TRANSLATE" id="translate_bt" >
        </div>
    </div>
    <script>
        var checkAjax = false;
       // var $_FILES = <?php echo json_encode($_FILES); ?>;
        var $_POST ="{{ id }}";
        var audUrl = true;
        var btn = document.getElementById('btn');
        btn.addEventListener('click', addToSQL);
        function addToSQL() {
            this.disabled = true;
            makeAjax();
        }
        function actWhenLoad() {
            window.location.href = "watch?idvid="+"{{ id }}"+'&audurl='+audUrl;
    }
        var newTag = document.createElement('script');
        try {
            /*var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
             newTag.setAttribute('src', 'scripts/preview.webAudio.js');*/
            newTag.setAttribute('src', 'scripts/subeditor_and_audio.js');
        } catch (e){
            newTag.setAttribute('src', 'scripts/subeditor_and_audio.js');
        } finally {
            document.body.appendChild(newTag);
        }
        function makeAjax() {
            var data = new FormData();
            data.append('subtitles', JSON.stringify(subtitles));
            data.append('idvid', video_id);
            var url = 'sendSubtitles.php';
            var request = new XMLHttpRequest();
            request.responseType = 'json';
            request.addEventListener('load', loadAjax);
            request.open('POST', url, true);
            request.send(data);
            function loadAjax(e) {
                var data = e.target;
                if (data.status == 200) {
                    var data = new FormData();
                    data.append('idvid',"{{ id }}");
                data.append('audurl', audUrl);
                var request = new XMLHttpRequest();
                /* var xmlupload = request.upload;*/
                request.addEventListener('load', actWhenLoad);
                request.open('POST', 'adding_and_audio.php', true);
                request.send(data);
            } else {
                console.log('checkAjax no check');
            }
        }
    }
    </script>
{% endif %}


{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}
