{% extends 'base3.html.twig' %}

{% block stylesheets %}
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .main {
            max-width: 1204px;
            position: relative;
            top: 100px;
            border: 2px solid #ca2626;
            background: #0f0f0f;
            text-align: center;
            -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 1);
            -moz-box-shadow:    2px 2px 10px 0px rgba(0, 0, 0, 1);
            box-shadow:         2px 2px 10px 0px rgba(0, 0, 0, 1);
        }
        .mainWrapper {
            padding: 0 15px;
        }
        #btn {
            width: 100px;
            height: 50px;
            margin: 25px 0 10px 0;
            font: bold 14px sans-serif ;
        }
        .bt_wrapper {
            height: 40px;
            background-color: #373737;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: left;
            transition: bottom .2s linear;
        }
        .bt_wrapper> *{
            display: inline-block;
        }

        .contentWrapper {
            padding-bottom: 40px;
            position: relative;
            top: 100px;
            text-align: center;
        }

        .contentWrapper .videoContent {
            float: none;
            width: auto;
        }
        .tr_button {
            display: inline-block;
        }
        .playerWrapper {
            width: 1280px;
            margin: 0 auto;
        }
        .playerWrapper, #disqus_thread, .details {
            -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 1);
            -moz-box-shadow:    2px 2px 10px 0px rgba(0, 0, 0, 1);
            box-shadow:         2px 2px 10px 0px rgba(0, 0, 0, 1);
        }
        audio {
            display: none;
        }
        progress {
            position: fixed;
            z-index: 3;
            top: 0;
            width: 100%;
            border-radius: 2px;
        }
        progress[value] {
            /* Reset the default appearance */
            -webkit-appearance: none;
            appearance: none;

            width: 100%;
            height: 2px;
        }
        progress[value]::-webkit-progress-bar {
            background-color: #eee;
            border-radius: 2px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        }
        progress[value]::-webkit-progress-value {
            background: red;
        }
        #original_bt {
            display: none;
        }


        /*========================
                 MATIRIA
      =========================*/
        .mdl-layout {
            padding-bottom: 40px;
        }
        .mdl-layout__drawer {
            z-index: 101;
        }
        .mdl-layout__container {
            top:0;
        }
        .contentWrapper .mdl-textfield__input {
            color: white;
            padding-left: 10px;
            padding-right: 87px;
            box-sizing: border-box;
        }
        .contentWrapper .mdl-textfield__label {
            padding: 0 0 0 10px;
            box-sizing: border-box;
        }
        .onceOutputSub .mdl-button {
            right: 27px;
            top:0;
        }

        .note.mute {
            background-color: rgba(255, 0, 0, 0.55);
        }
        .note {
            background-color: #4f805d;
            line-height: 40px;
            padding: 0 10px;
            margin-right: 17px;
            transition: all .2s linear;
        }
        .note i {
            vertical-align: middle;
        }
        .audName {
            color: white;
            margin-right: 20px;
            overflow: hidden;
            white-space: nowrap;
            max-width: 500px;
            text-overflow: ellipsis;
            vertical-align: middle;
        }
        .mdl-switch {
            width: auto;
        }
        .mdl-switch__thumb {
            background-color: #a7a7a7;
        }
        .mdl-switch.is-checked .mdl-switch__thumb{
            background-color: #ffffff;
        }
        .mdl-switch.is-checked .mdl-switch__track {
            background: rgba(10, 10, 10, 0.5);
        }
        .mdl-switch__ripple-container .mdl-ripple {
            background-color: #fff;
        }
        .build {
            position: fixed;
            width: 40px;
            height: 40px;
            bottom: 0;
            right: 35px;
            background-color: #222222;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
        }
        .build i{
            vertical-align: middle;
        }
        .mdl-button--raised, .mdl-button--fab{
            background-color: rgb(195, 195, 195);
        }
        .mdl-button:hover {
            background-color: #fff;
        }
        .mdl-textfield__label:after {
            background-color: #fff;
        }


        /*========================
               DETAILS
    =========================*/
        .details {
            max-width: 1280px;
            margin: 20px auto 0 auto;
            padding: 25px;
            box-sizing: border-box;
            text-align: left;
            background-color: #131313;
            color: #9c9c9c;
        }
        .details .title {
            color: #fff;
            font-size: 26px;
            margin-bottom: 15px;
        }
        .details .description {
            font-size: 20px;
            line-height: 1.3em;
        }
        /*========================
             C O M M E N T S
   =========================*/
        #disqus_thread {
            max-width: 1280px;
            padding: 20px;
            box-sizing: border-box;
            margin: 20px auto 0 auto;
        }
        /*=========================
                     FORM
        =========================*/

        form {
            padding: 20px;
            color: white;
        }
        form .mdl-textfield {
            width: 100%;
        }
        .mdl-textfield__label:after {
            background-color: white;
        }




        .mdl-snackbar__action {
            opacity: 1;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus
        input:-webkit-autofill,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0px 1000px #131313 inset;
            transition: background-color 5000s ease-in-out 0s;
            -webkit-text-fill-color: white;
        }

        .formWrapper {
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom:0;
            z-index: 10;
            background-color: rgba(0,0,0,.8);
            -webkit-transition: visibility .2s linear;
            -moz-transition: visibility .2s linear;
            -o-transition: visibility .2s linear;
            transition: visibility .2s linear;

        }
        .formWrapper  .mdl-cell {
            position: absolute;
            top: -450px;
            padding-right: 26px;
            -webkit-transition: top .2s cubic-bezier(.4,0,.2,1);
            -moz-transition: top .2s cubic-bezier(.4,0,.2,1);
            -o-transition: top .2s cubic-bezier(.4,0,.2,1);
            transition: top .2s cubic-bezier(.4,0,.2,1);
        }
        .formWrapper.show {
            visibility: visible;

        }
        .formWrapper.show .mdl-cell {
            top:150px;
        }
        .formWrapper label[for=audio] {
            color: white;
            bottom: -41px;
        }
        .buttonWrapper {
            text-align: right;
        }
        .buttonWrapper button.mdl-button--accent.mdl-button--accent, .buttonWrapper input.mdl-button--accent.mdl-button--accent {
            color: white;
            background-color: #0c0c0c;
        }

    </style>
{% endblock %}

{% block hiddenUrl %}
    <input style="display: none" class="mdl-textfield__input" type="text" name="url" id="hiddenUrl"/>
{% endblock %}
{% block body %}
    <div class="contentWrapper">
        <div class="videoContent">
            <div class="playerWrapper">
                <div id="player"></div>
                <div class="infoWrapper">
                    <div id="info"></div>
                </div>
            </div>
            <div class="details">
                <div class="title">{{ res['title'] }}</div>
                <div class="description">{{ res['descript'] }}</div>
            </div>
            {% if moderation == false %}
            <div class="commentsWrapper">
                <div id="disqus_thread"></div>
            </div>
                {% else %}
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                       Удалить
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Добавить
                    </button>
            {% endif %}
        </div>
    </div>

    <div id="progress" style="color: white;"></div>
{% if audio == 'true' %}
    <audio controls id="audio" preload="metadata">
    </audio>
    <div id="progress_mp3"></div>
    <div id="progress_ogg"></div>
    <div class="bt_wrapper" style="bottom: -40px">
        <div class="note mute" id="note" style="margin-right: 10px">
            <i class="material-icons">audiotrack</i>
        </div>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2" style="margin-right: 25px">
            <input type="checkbox" id="switch-2" class="mdl-switch__input">
            <span class="mdl-switch__label"></span>
        </label>
        <div class="note" id="translate">
            <i class="material-icons">g_translate</i>
        </div>
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3">
            <input type="checkbox" id="switch-3" class="mdl-switch__input" checked>
            <span class="mdl-switch__label"></span>
        </label>
    </div>
    <div class="build" id="build" onclick="toggleToolsBar()"><i class="material-icons">build</i></div>
{% endif %}
    {% if audio != 'true' %}
        <div class="bt_wrapper" style="bottom: -40px">
            <div class="note" id="translate">
                <i class="material-icons">g_translate</i>
            </div>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3">
                <input type="checkbox" id="switch-3" class="mdl-switch__input" checked>
                <span class="mdl-switch__label"></span>
            </label>
        </div>
        <div class="build" id="build" onclick="toggleToolsBar()"><i class="material-icons">build</i></div>
    {% endif %}


    <script src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}


{% block scripts %}
    <script>
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//zhekavasil-by.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <script>
        function toggleToolsBar() {
            var bt_wrapper = document.getElementsByClassName('bt_wrapper')[0];
            if(bt_wrapper.style.bottom == '-40px'){
                bt_wrapper.style.bottom = '0';
            } else {
                bt_wrapper.style.bottom = '-40px';
            }
        };
    </script>
<script>
    //hiden input url
    var hiddenUrl = document.getElementById('hiddenUrl');
    hiddenUrl.value = window.location.href;


    var controller_json = '{{ json }}';
    controller_json = controller_json.replace(/&quot;/g, '"');
    controller_json = controller_json.replace(/(?:\r\n|\r|\n)/g, '');
    var $_GET  = JSON.parse(controller_json);
    var newTag = document.createElement('script');
    if ($_GET.audurl == 'true') {
        try {
            /* var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
             newTag.setAttribute('src', 'scripts/watch.webAudio.js');
             document.body.appendChild(newTag);*/
            newTag.setAttribute('src', '{{ asset('scripts/watch.audioTag_and_audio.js') }}');
            document.body.appendChild(newTag);
        } catch (e) {
            newTag.setAttribute('src', 'scripts/watch.audioTag_and_audio.js');
            document.body.appendChild(newTag);
        }
    } else {
        try {
            /* var audioCtx = new (window.AudioContext || window.webkitAudioContext)();
             newTag.setAttribute('src', 'scripts/watch.webAudio.js');
             document.body.appendChild(newTag);*/
            newTag.setAttribute('src', 'scripts/watch.audioTag.js');
            document.body.appendChild(newTag);
        } catch (e) {
            newTag.setAttribute('src', 'scripts/watch.audioTag.js');
            document.body.appendChild(newTag);
        }
    }

    // A U T H  F O R M
    var nav_auth = document.getElementById('nav_auth');
    var drawer_auth = document.getElementById('drawer_auth');
    var authFormWrapper = document.getElementById('authFormWrapper');
    var authCancelBtn = document.getElementById('authCancelBtn');
    var authForm = document.forms.authForm;
    {% if admin == false %}
    nav_auth.onclick = showForm;
    drawer_auth.onclick = showForm;
    {% endif %}
    authCancelBtn.onclick = hideForm;
    function showForm(e) {
        e.preventDefault();
        authFormWrapper.classList.add('show');
        authForm.removeAttribute('novalidate');
        window.addEventListener('click', addListenerOnWindow)
    }
    function hideForm(e, wrapperId) {
        e ? e.preventDefault() : false;

        window.removeEventListener('click', addListenerOnWindow);
        if(wrapperId){
            wrapperId.classList.remove('show');
            document.querySelector('#' + wrapperId.id + ' form').setAttribute('novalidate', '');
            return;
        }
            authFormWrapper.classList.remove('show');
            authForm.setAttribute('novalidate', '');
    }

    function addListenerOnWindow(ev) {
        if(ev.target.className.indexOf('show')>0){
            hideForm(false, ev.target)
        }
    }
</script>
{% endblock %}
